<?xml version="1.0"?>
<launch>

<node pkg="lipm_motion" type="lipm_motion_node" name="lipm_motion" respawn="false" output="screen" >
   	 <rosparam file="$(find lipm_motion)/config/nao_planning_params.yaml" command="load"/> 
</node>
<node pkg="lipm_control" type="lipm_control_node" name="lipm_control" respawn="false" output="screen" >
   	 <rosparam file="$(find lipm_control)/config/nao_control_params.yaml" command="load"/> 
</node>
</launch>